

.ProductThumbnailsMain {

	padding: 12px;

	float: left;

}

.ProductThumbnail {

	float: left;

	position: relative;

	margin: 0 7px;

	cursor: pointer;

}

.ProductName {

	font-size: 11px;

	color: #333;

	padding-top: 5px;

	line-height: 12px;

	font-weight: normal;

}

.ThumbnailsRadio {

	display: block;

	position: absolute;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	left: 5px;

	top: -2px;

}

.ThumbnailsRadio input {

	position: absolute;

	opacity: 0;

	cursor: pointer;

	left: 0;

	z-index: 9999;

}

.checkround {

	position: absolute;

	top: 6px;

	left: 0;

	height: 14px;

	width: 14px;

	background-color: #d6f5ff;

}

.ThumbnailsRadio input:checked ~ .checkround {

	background-color: #d6f5ff;

}

.checkround:after {

	content: "";

	position: absolute;

	display: none;

}

.ThumbnailsRadio input:checked ~ .checkround:after {

	display: block;

}

.ThumbnailsRadio .checkround:after {

	left: 3px;

	top: 3px;

	width: 7px;

	height: 7px;

	background: #17b1e3;

}

/*---- Radio ----*/

.ThermalPrinterMain {

	float: left;

}

.ThermalPrinter {

	border: 1px solid #d9d9d9;

	float: left;

	z-index: 999999;

	position: relative;

}

.ThermalPrinter img {

	float: left;

}

.ThermalManufactureMain {

	float: left;

	padding: 12px 12px 0 12px;

}

.ThermalManufacture {

	background: none repeat scroll 0 0 #fff;

	border-radius: 5px;

	border-style: solid;

	border-width: 1px;

	box-sizing: border-box;

	display: block;

	height: 36px;

	outline: medium none;

	padding: 8px;

	width: 195px !important;

	font-weight: normal !important;

}

.Manufacture1 {

	margin-bottom: 10px;

}

.ChooseShapesMain {

	padding: 15px 12px;

	float: left;

	width: 100%;

}

.ChooseShapes {

	float: left;

	width: 70%;

}

.ChooseShapes h4 {

	color: #666;

	float: left;

	margin: 0;

	line-height: 45px;

	margin-right: 5px;

	font-size: 16px !important;

	font-weight: 500;

}

.Shapes {

	float: left;

	width: 80%;

	padding-left: 0;

}

.Shapes li {

	float: left;

	list-style: none;

	width: 50px;

	height: 44px;

	text-align: center;

	border: 1px solid #d9d9d9;

	border-radius: 5px;

	margin-left: 5px;

	margin-right: 5px;

	background: #fff;

	cursor: pointer;

}

.Shapes li:hover {

	border: 1px solid #17b1e3;

	background: #17b1e3;

}

.Shapes li.active {

	border: 1px solid #17b1e3;

	background: #17b1e3;

}

.Shapes li img {

	padding: 9px 0;

}

.PrinterCopierMain {

	float: right;

	padding-top: 4px;

	width: 218px;

}

.PrinterCopier {

	background: none repeat scroll 0 0 #fff;

	border-radius: 5px;

	border-style: solid;

	border-width: 1px;

	box-sizing: border-box;

	display: block;

	height: 36px;

	outline: medium none;

	padding: 8px;

	width: 190px;

	font-weight: normal !important;

}

.SectionThreeMain {

	padding: 0px 12px 10px;

	width: 100%;

	float: left;

}

.LabelWidthMain {

	float: left;

	width: 48%;

	border: 1px solid #17b1e3;

	height: 130px;

}

.LabelHeightMain {

	float: right;

	width: 48%;

	border: 1px solid #17b1e3;

	height: 130px;

}

.LabelWidthHeader {

	background: #17b1e3;

	width: 100%;

	height: 34px;

	line-height: 34px;

	color: #fff;

	font-size: 14px;

}

.LabelMain {

	padding: 10px;

	width: 100%;

	float: left;

}

.Min-Width {

	float: left;

	width: 82px;

	height: 26px;

	border: 1px solid #17b1e3;

	padding-left: 10px;

}

.Max-Width {

	float: right;

	width: 82px;

	height: 26px;

	border: 1px solid #17b1e3;

	padding-left: 10px;

}

.Range {

	width: 100%;

}

.LabelMain span {

	float: left;

	font-size: 10px;

}

.RangeTitle {

	float: left;

	width: 100%;

	margin-top: 30px;

}

.Dropdowns {

	width: 90%;

	float: right;

}

.SelectColorMain {

	float: left;

}

.SelectMaterialMain {

	float: right;

}

.Dropdowns label {

    padding-right: 0 !important;	

	margin-bottom: 15px;

}

.ProductsFound {

	float: left;

	margin-top: 5px;

}

.ProductsFound span {

	border: 1px solid #17b1e3;

	padding: 3px 15px;

	border-radius: 5px;

	font-size: 26px;

	font-weight: bold;

	color: #17b1e3;

	float: left;

}

.ProductsFound h4 {

	color: #666;

	font-size: 16px;

	float: left;

	font-weight: normal;

	margin-top: 24px;

	margin-bottom: 0;

	margin-left: 10px;

}

.ResetBtn {

	float: right;

}

.ResetButton {

	background: #fd4913;

	color: #fff;

	font-size: 16px;

	padding: 10px 20px;

	line-height: 0;

}

.P-FoundBtn {

	margin-top: 10px;

}

.WidthHightCheckbox {

	float: left;

	width: 100%;

	margin-top: 7px;

}

.WidthHightCheckbox label {

	font-size: 13px;

	color: #666;

	font-weight: normal;

	padding-top: 5px;

}

/*----- Check Box -----*/

.check {

	display: block;

	position: relative;

	padding-left: 25px;

	cursor: pointer;

	font-size: 18px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

.check input {

	position: absolute;

	opacity: 0;

	cursor: pointer;

}

.checkmark {

	position: absolute;

	

	left: 0;

	height: 18px;

	width: 18px;

	background-color: #d6f5ff;

}

.check input:checked ~ .checkmark {

	background-color: #d6f5ff;

}

.checkmark:after {

	content: "";

	position: absolute;

	display: none;

}

.check input:checked ~ .checkmark:after {

	display: block;

}

.check .checkmark:after {

	left: 6px;

	top: 2px;

	width: 6px;

	height: 11px;

	border: solid;

	border-color: #17b1e3;

	border-width: 0 2px 2px 0;

	-webkit-transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	transform: rotate(45deg);

}

.labels-form label {

	margin-bottom: 10px;

}

.thermaloptions {

	display: none;

}

/*** new ***/

.compare_div .col-md-2 {

	border: 1px solid #d0cfcf;

	height: 38px;

	padding: 8px;

	border-radius: 4px;

}

.compare_div button[disabled] {

	background: #fff !important;

	filter: none !important;

	opacity: 1 !important;

	color: #b9b9b9 !important;

	border: 1px solid #b9b9b9 !important;

}

/* Overlay style */



.no-padding {

	padding: 0 !important;

}

.ThumbnailsMain {

	border-bottom: 1px solid #ddd;

}

.CompareHead {

	border-bottom: 1px solid #f1f1f1;

	height: 50px;

}

.CompareTitle {

	line-height: 50px;

	font-size: 24px;

}

.SheetClose {

	background: #333;

	width: 18px;

	height: 18px;

	color: #fff;

	line-height: 15px;

	text-align: center;

	font-size: 16px;

	padding-left: 1px;

	margin-top: 5px;

	cursor: pointer;

	margin-right: 5px;

}

.SheetMain {

	border-right: 1px solid #ddd;

	padding-right: 5px !important;

	padding-left: 5px !important;

}

.ProductNameH {

	font-weight: bold;

	font-size: 13px;

}

.ProductName {

	font-size: 11px;

	padding-left: 0px !important;

}

.ProductPrice {

	color: #fd4913;

	font-size: 18px;

	font-weight: bold;

}

.sprator {

	height: 5px;

	float: left;

	width: 100%;

}

.PrinterIconGreen {

	color: #00a651;

}

.PrinterIconRed {

	color: #ed1c24;

}

.thead-light {

	background: #f1f1f1;

}

.thead-light tr th {

	border-bottom: 0 !important;

	border-top: 0 !important;

	width: 240px !important;

}

.tbody-light tr td {

	border-bottom: 0 !important;

	border-top: 0 !important;

}

.CompareTable {

	margin-bottom: 0 !important;

}

#compare_modal_content img {

	width: 130px !important;

}

.SheetMain:first-child {

	border-left: 0;

}

.compare_table tr:first-child td, .compare_table tr:first-child th {

	/*border: 0;*/

}

.tohide {

	display: none;

}



.compare_div .col-md-10

{

	padding-right: 0px;

	cursor:pointer;

}

.ResetBtn

{

	margin-top: 20px !important;

}

@media screen and (max-width:480px)

{

	.ChooseShapes

	{

		width:100%;

	}

	#shapes_box

	{

		clear:both;

		width:100%;

	}

	.Dropdowns

	{

		width:100%;

	}

	.Dropdowns label

	{

		width: 49%;

		padding:0;

	}

	.PrinterCopierMain

	{

		float:none;

		clear:both;

		width:auto;

	}

	.compare_div .col-md-10

	{

		padding-right: 0px;

		padding-left:0px;

	}

	.labels-form .checkbox i

	{

    	left: 6px;

	}

	.LabelHeightMain, .LabelWidthMain

	{

		width:100%;

	}

}



@media screen and (min-width:480px) and (max-width:1024px)

{

	.Dropdowns

	{

		width: 100%;

	}

	.ChooseShapes

	{

		width:60%;

	}

	.labels-form .checkbox i

	{

		left: 11px;

	}

}



/**********************************************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Overlay style */

.overlay {

	position: fixed;

	width: 960px;

	height: 100%;

	top: 0;

	left: 0;

	right: 0;

	background: #fff;

	margin: 0 auto;

	font-family: 'Open Sans', sans-serif;

}



/* Overlay closing cross */

.overlay .overlay-close {

	width: 15px;

	height: 15px;

	position: absolute;

	right: 0px;

	top: 17px;

	overflow: hidden;

	border: none;

	background: url(../img/cross.png) no-repeat center center;

	text-indent: 200%;

	color: transparent;

	outline: none;

	z-index: 100;

}



/* Menu style */

.overlay nav {

	text-align: center;

	position: relative;

	top: 50%;

	height: 60%;

	-webkit-transform: translateY(-50%);

	transform: translateY(-50%);

}



.overlay ul {

	list-style: none;

	padding: 0;

	margin: 0 auto;

	display: inline-block;

	height: 100%;

	position: relative;

}



.overlay ul li {

	display: block;

	height: 20%;

	height: calc(100% / 5);

	min-height: 54px;

	-webkit-backface-visibility: hidden;

	backface-visibility: hidden;

}



.overlay ul li a {

	font-size: 54px;

	font-weight: 300;

	display: block;

	color: #333;

	-webkit-transition: color 0.2s;

	transition: color 0.2s;

}



.overlay ul li a:hover,

.overlay ul li a:focus {

	color: #e3fcb1;

}



/* Effects */

.overlay-simplegenie {

	visibility: hidden;

	-webkit-transform: translateY(60%) scale(0);

	transform: translateY(60%) scale(0);

	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;

	transition: transform 0.4s, visibility 0s 0.4s;

}



.overlay-simplegenie.open {

	visibility: visible;

	-webkit-transform: translateY(0%) scale(1);

	transform: translateY(0%) scale(1);

	-webkit-transition: -webkit-transform 0.4s;

	transition: transform 0.4s;

}





.no-padding {

	padding: 0 !important;

}

.ThumbnailsMain {

	border-bottom: 1px solid #ddd;

}

.CompareHead {

	border-bottom: 1px solid #f1f1f1;

	height: 50px;

}

.CompareTitle {

	line-height: 50px;

	font-size: 24px;

}

.SheetClose {

	background: #333;

	width: 18px;

	height: 18px;

	color: #fff;

	line-height: 15px;

	text-align: center;

	font-size: 16px;

	padding-left: 1px;

	margin-top: 5px;

	cursor: pointer;

}

.SheetMain {

	border-right: 1px solid #ddd;

	border-left: 1px solid #ddd;

	padding-right: 5px !important;

	padding-left: 5px !important;

}

.ProductNameH {

	font-weight: bold;

	font-size: 13px;

}



.ProductPrice {

	color: #fd4913;

	font-size: 28px;

	font-weight: bold;

	padding-left: 10px !important;

}

.sprator {

	height: 5px;

	float: left;

	width: 100%;

}

.PrinterIconGreen {

	color: #00a651;

}

.PrinterIconRed {

	color: #ed1c24;

}

.thead-light {

	background: #f1f1f1;

}

.thead-light tr th {

	border-bottom: 0 !important;

	border-top: 0 !important;

	width: 240px !important;

}

.tbody-light tr td {

	border-bottom: 0 !important;

	border-top: 0 !important;

}

.CompareTable {

	margin-bottom: 0 !important;

}



.notfound_div {

    padding: 50px !important;

	margin-top: 80px;

}

.notfound_div a{

font-size: 21px !important;

}

.notfound_div h3

{

    margin-bottom:50px;

    line-height: 1.3;

    color: #616161;

}

.nearestBg {

    background-color: #00b6f0;

    border-radius: 4px;

    margin: 28px 0;

}

.nearestBg p{

	font-size: 20px;

	text-transform: uppercase;

	font-weight: bold;

	color:#FFF;

	padding:0 !important;

	margin: 0px;

}

@media screen and (max-height: 30.5em) {

	.overlay nav {

		height: 70%;

		font-size: 34px;

	}

	.overlay ul li {

		min-height: 34px;

	}

}



/********************* NEW FILTER ***********************************/
.LabelWidthMain, .LabelHeightMain
{
	height: auto;
}
.LabelMain input[type='text'] {
	padding: 6px 6px;
	background-color: #fff;
	height: 30px;
	border: 1px solid #17b1e3;
	border-radius:0;
}
.slider {
	height: 5px;
	margin-left: 0;
	margin-right: 0;
}
.slider .ui-slider-range {
	height: 5px;
	background: #17b1e3 !important;
	padding: 0 10px;
	margin: 0 -5px;
}
.ui-slider-horizontal .ui-slider-handle {
	width: 9px;
	top: -10px;
	border-radius: 0;
	margin-left: -5px;
	background: #fd4913 !important;
	border-color: #fd4913 !important;
}
.rangelimit {
	margin-top: 12px;
}
.rangelimit .col-xs-6
{
	padding:0;
}
.lablefilterslider {
	padding-left: 5px;
	padding-right: 16px;
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	background: #ededed;
	box-shadow: 0 0 2px #ededed;
}


.check {

	display: block;

	position: relative;

	padding-left: 25px;

	cursor: pointer;

	font-size: 18px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

/********************* NEW FILTER ***********************************/
.LabelWidthMain, .LabelHeightMain
{
	height: auto;
}
.LabelMain input[type='text'] {
	padding: 6px 6px;
	background-color: #fff;
	height: 30px;
	border: 1px solid #17b1e3;
	border-radius:0;
}
.slider {
	height: 5px;
	margin-left: 0;
	margin-right: 0;
}
.slider .ui-slider-range {
	height: 5px;
	background: #17b1e3 !important;
	padding: 0 10px;
	margin: 0 -5px;
}
.ui-slider-horizontal .ui-slider-handle {
	width: 9px;
	top: -10px;
	border-radius: 0;
	margin-left: -5px;
	background: #fd4913 !important;
	border-color: #fd4913 !important;
}
.rangelimit {
	margin-top: 12px;
}
.rangelimit .col-xs-6
{
	padding:0;
}
.lablefilterslider {
	padding-left: 5px;
	padding-right: 16px;
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	background: #ededed;
	box-shadow: 0 0 2px #ededed;
}

/*** NEW CSS ***/

.Dropdowns, .ChooseShapes {
    width: 100%;
}

.ChooseShapesMain {
    padding: 15px 4px;
}

.P-FoundBtn {
    margin-top: 10px;
}

.Dropdowns {
    margin-top: 20px;
}

.template_search_new {
    padding-right: 0;
    margin-bottom: 10px
}

.template_search_new .input-group-addon {
    background: #fff !important;
}

.template_search_new #filter_search_box {
    /*border-right: 0;*/
    border-color: #a9a9a9;
}

.template_search_new .input-group-addon {
    border-color: #a9a9a9;
}

.btn_trigger {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background: #ececec no-repeat scroll center center;
    border: 1px solid #dedede;
	color:#666;
}

/*.btn_trigger[data-val="labels_by_size"] {
    background-image: url(../../images/finder/label-by-size.png);
}

.btn_trigger[data-val="labels_per_sheet"] {
    background-image: url(../../images/finder/label-per-sheet.png);
    height: 100px;
}*/

.btn_trigger.active {
    background-color: #fff;
}

.row_sliders .tooltip-inner {
    background: #fff8dc !important;
    color: #000 !important;
}

.row_sliders .tooltip-arrow {
    border-top-color: #fff8dc !important;
}

#label_per_sheet_triggers {
    height: 145px;
	margin-bottom: 35px;
}

.container_of_labels {
    height: 145px;
    overflow-y: scroll;
	/*padding:10px;*/
	padding: 8px 8px 0 0 !important;
	padding-right:0px;
}

.lps_item_box {
    border: 1px solid #ececec;
    border-radius: 4px;
    text-align: center;
    /*padding: 42px 5px;*/
	padding: 40px 5px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    width:90%;
}

.lps_number {
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
}

.lps_item_box.active {
    border: 1px solid #17b1e3;
    background: #17b1e3;
    color: #fff;
}
span.breakthrough {
    display: block;
}
.button_triggers
{
	text-align:center;
	padding-top: 12px;
}
.btn_trigger
{
	background:#fff;
	border: 0;
	height: auto;
    text-align: center !important;
    display: block;
	height: 145px;
    border-bottom: 1px solid #ececec;
}
.trigger_label {
    padding-top: 5px;
    display: block;
}

#container_of_labels .slimScrollRailY {
	right: 0px !important;
}
#label_per_sheet_triggers .slimScrollRailY {
	right: 5px !important;
	height: 90% !important;
	top: 6px !important;
}
#label_per_sheet_triggers .slimScrollBarY {
	right: 5px !important;
}
@media screen and (max-width:786px) {
	.container_of_labels {
		width: 100% !important;
		height: 145px !important
	}
	#label_per_sheet_triggers .slimScrollDiv {
		width: 100% !important;
	}
	/*.btn_trigger {
		width: 48% !important;
		height: 100px !important;
		margin-left: 2% !important;
	}*/
	#label_per_sheet_triggers
	{
		margin-bottom: 0 !important;
	}
	.btn_trigger:first-child {
		margin-left: 0 !important;
	}
	.template_search_new {
		padding-left: 0;
	}
	.btn_trigger.active.focus, .btn_trigger.active:focus, .btn_trigger.focus, .btn_trigger:active.focus, .btn_trigger:active:focus, .btn_trigger:focus {
		outline: 0 !important;
	}
	.button_column {
		clear: both;
	}
	.LabelHeightMain {
		margin-top: 10px;
	}
}
.container_of_labels {
	position: relative;
	margin: 0px auto;
	padding: 0px;
	overflow: auto;
	padding:0 !important;
	width: 90%;
}
.row.lps_item_box {
	padding: 41px 3px !important;
	margin-bottom: 6px;
}
.ProductsFound span {
	font-size: 22px !important;
	padding: 3px 8px !important;
}
.ProductsFound h4 {
	font-size: 13px !important;
	margin-top: 14px !important;
	margin-bottom: 0 !important;
	margin-left: 2px !important;
}
.ResetButton {
	font-size: 14px !important;
	background: none !important;
	color: #585858 !important;
}
.ResetBtn {
	margin-top: 12px !important;
}
.mCSB_inside > .mCSB_container {
	margin-right: 12px !important;
}

.ChooseShapes [class^="col-"] {
	padding: 0;
}
.btn_trigger:hover {
	color: #fd4913;
	text-decoration:underline;
}
.mCSB_scrollTools .mCSB_draggerRail {
    height: 98% !important;
}
.slider_column.labels_per_sheet_row {
    padding: 0;
}
.slider_column
{
	padding-left:10px;
}