.htaccess

*.pdf
*.mp4
*.dat
*.zip
*.tar
*.tar.gz
*.rar
*.z
*.bak
*.log
*.txt

application/cache/
application/logs/
application/config/
system/
constant/
fr/constant/
fr/pdfs/
fr/system/
fr/theme/site/images/
fr/application/cache/
fr/application/logs/
fr/error_log
fr/application/libraries/
salespanel/constant/
salespanel/getaddress/
salespanel/system/
salespanel/swf/
lu/constant/
trade/constant/
new_saleoperator/pdf/
aa_saleoperator/cache/
aa_saleoperator/logs/
new_backoffice/application/cache/
new_backoffice/application/logs/
aa_returns/application/cache/
aa_returns/application/logs/
application_mobile/logs/
application_mobile/pdf/
theme/e_logo.png
theme/ukfiles/
theme/images/
theme/crismiss/
theme/fonts/
theme/credit-cards-paypal.jpg
theme/custom_dies/
theme/tick.gif
theme/temp_images/
theme/ajax-loader.gif
theme/videos/
theme/emailcampagin/
theme/observance_calender/
theme/Proceed_grey.jpg
theme/fa/
theme/credit-cards-paypal_1.jpg
theme/index.html
theme/doted_loader.gif
theme/tick.png
theme/pods_images/
theme/dropdown/
theme/.ftpquota
theme/images_index/
theme/catalog/
theme/return/
theme/cp/
theme/banners/
theme/integrated_attach/
theme/site/xmass-2019.png
theme/site/dist/
theme/site/labelfinder/
theme/site/googlefeed/
theme/site/flash/
theme/site/material_specs/
theme/site/email/
theme/site/editor/
theme/site/index.html
theme/site/dropzone/
theme/site/fonts/
theme/site/newsletter/
theme/site/images/
theme/assets/images/artworks/
aa_returns/theme/returnimages/
index.php
