<meta charset="utf-8" />
<table width="632px" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial;">
  <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
     <td>
    <a href="https://www.aalabels.com/" style="padding:0 10px; line-height:30px; float:left; font-size:14px; font-weight:bold; background-color:#fd4913; color:#fff; text-align:center; text-decoration:none;">HOME</a>
    <a href="https://www.aalabels.com/aboutus/" style="padding:0 10px;; line-height:30px; float:left; font-size:14px; font-weight:bold; background-color:#fd4913; color:#fff; text-align:center; margin-left:5px; text-decoration:none;">ABOUT</a>
    <a href="https://www.aalabels.com/contact-us/" style="padding:0 10px; line-height:30px; float:left; font-size:14px; font-weight:bold; background-color:#fd4913; color:#fff; text-align:center; margin-left:5px; text-decoration:none;">CONTACT</a>
     
    </td>
    <td align="right">
    <a href="http://www.aalabels.com/" style="text-decoration:none;"><img src="http://www.aalabels.com/theme/site/images/logo.png" border="0" style="outline:0;" height="60px" /></a>
    </td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td height="10px"></td>
  </tr>
  <tr>
    <td bgcolor="#17b1e3" align="center" style="font-size:16px; font-weight:bold; color:#fff; padding:5px;">DESIGN SOFT PROOF  - COMMANDE NO. [orderNumber]</td>
  </tr>
  
  <tr>
    <td height="10px"></td>
  </tr>
   <tr>
    <td style="font-size:12px;" align="right">
    Date: [OrderDate]  Heure: [OrderTime]
    </td>
  </tr>
  <tr>
    <td height="10px"></td>
  </tr>
  <tr>
    <td style="font-size:12px; padding-bottom:5px;">Cher [FirstName]</td>
  </tr>
  <tr>
    <td style="font-size:12px; padding-bottom:10px;">Le design de vos étiquettes a été complété par notre équipe de studio et une épreuve-écran est disponible, sur notre site Web, pour que vous puissiez voir et vérifier. Veuillez cliquer sur le lien ci-dessous pour voir et approuver ou demander une modification au fichier.</td>
  </tr>
   <tr>
    <td height="10px"></td>
  </tr>
   <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="font-size:12px; padding-bottom:5px;" width="15%" valign="top">Notez sil vous plaît:</td>
    <td style="font-size:12px; padding-bottom:10px;color:red;">Nous sommes dans l impossibilité de traiter votre commande a moins que nous ne recevions votre demande d'approbation ou de modification via ce lien.
    
   
    </td>
  </tr>
  <tr>
  <td colspan="2" align="center"><a href="[link]" style="background-color:#00b0f0;color:#fff;padding:10px;font-size:14px;font-weight: bold;border-radius: 5px; display:table; margin:auto; text-decoration:none;">
                     [Text]
                        </a></td>
  </tr>
</table>

    
    </td>
  </tr>
  
 
  
  <tr>
    <td style="font-size:12px; padding-bottom:3px;padding-top:25px;">Sinceres amitiés,</td>
  </tr>
  <tr>
    <td style="font-size:12px; color:#17b1e3; font-weight:bold"><img style="text-align:left !important;" src="http://www.aalabels.com/theme/site/images/sign.jpg" width="100"/></td>
  </tr>
  <tr>
    <td height="20px"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="font-size:12px;" width="22%">
    <b>Equipe Service Clients</b></td>
    <td style="font-size:12px;"></td>
    <td style="font-size:12px;"> &nbsp;&nbsp;&nbsp;</td>
    
    
  </tr>
</table>
</td>
  </tr>
  
  
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;">
  <tr>
   <tr>
    <td height="15px"></td>
  </tr>
  
    <td></td>
    <td align="right">  <img style="text-align:left !important;" src="https://www.aalabels.com/theme/site/images/email_join.png" width="350"/>
    </td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="20px"></td>
  </tr>
  <tr>
    <td><img src="http://www.aalabels.com/theme/site/images/email_banner2.jpg" width="100%" /></td>
  </tr>
  
  <tr>
    <td height="5px"></td>
  </tr>
  <tr>
    <td style="font-size:10px;">Avertissement : Ce courrier électronique et les pièces jointes sont destinés aux personnes citées ci-dessus uniquement et peuvent contenir des informations sensibles. Si vous n'êtes pas le destinataire prévu ou que vous avez reçu ce courrier par erreur, veuillez en informer l'expéditeur en appuyant sur le bouton de réponse et en supprimant immédiatement le message. </td>
  </tr>
  <tr>
    <td height="5px"></td>
  </tr>
  <tr>
    <td style="font-size:10px;">Tous les e-mails sont scannés contre les virus lorsqu'ils sont envoyés mais AA Labels ne prend aucune responsabilité légale pour les données perdues à la suite de l'ouverture ou de la transmission de cet e-mail, nous recommandons que le destinataire prenne toutes les précautions qu'il juge appropriées au préalable.</td>
  </tr>
  <tr>
    <td height="5px"></td>
  </tr>
  
</table>


