@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio:2){}
@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:portrait){}
@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:landscape){}
@media only screen
and (min-device-width:320px)
and (max-device-width:568px)
and (-webkit-min-device-pixel-ratio:2){}
@media only screen
and (min-device-width:320px)
and (max-device-width:568px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:portrait){}
@media only screen
and (min-device-width:320px)
and (max-device-width:568px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:landscape){}
@media only screen
and (min-device-width:375px)
and (max-device-width:667px)
and (-webkit-min-device-pixel-ratio:2){}
@media only screen
and (min-device-width:375px)
and (max-device-width:667px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:portrait){.container{margin-left:auto;margin-right:auto;padding-left:15px !important;padding-right:15px !important;}
}
@media only screen
and (min-device-width:375px)
and (max-device-width:667px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:landscape){.container{margin-left:auto;margin-right:auto;padding-left:15px !important;padding-right:15px !important;}
}
@media only screen
and (min-device-width:414px)
and (max-device-width:736px)
and (-webkit-min-device-pixel-ratio:3){}
@media only screen
and (min-device-width:414px)
and (max-device-width:736px)
and (-webkit-min-device-pixel-ratio:3)
and (orientation:portrait){}
@media only screen
and (min-device-width:414px)
and (max-device-width:736px)
and (-webkit-min-device-pixel-ratio:3)
and (orientation:landscape){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio:1){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (-webkit-min-device-pixel-ratio:2){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2){}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio:2){}