.search-box:hover .form-control{background:none repeat scroll 0 0 #4ec67f;}
.search-box:hover .btn-nobg{color:#4ec67f;}
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:none repeat scroll 0 0 rgba(78, 198, 127, 0.7) !important;}
.action-control a:hover, .action-control a.active{background:none repeat scroll 0 0 #27ae60;color:#fff;}
.product:hover, .featuredImgLook2 .inner:hover{border:1px solid #4ec67f;}
.subCategoryList .thumbnail:hover{border:1px solid #4ec67f;}
#pager a.cycle-pager-active{background:none repeat scroll 0 0 rgba(39, 174, 96, 0.5);}
.pager2 a{border:1px solid #4ec67f;}
.pager2 a.selected{background:none repeat scroll 0 0 #4ec67f;}
.btn-site, .newsLatterBox .btn{background:none repeat scroll 0 0 #4ec67f;}
.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover{background:none repeat scroll 0 0 #27ae60;}
.full{width:100%;}
.form-control:focus{border-color:#4ec67f;}
.new-product{background:none repeat scroll 0 0 rgba(39, 174, 94, 0.95) !important;}
.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);color:#2c3e50;}
.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);color:#2c3e50;font-weight:bold;}
.panel-default > .panel-heading{border-top:4px solid #4ec67f;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a{background:none repeat scroll 0 0 #bfc9ca;}
.nav-tabs{border-bottom:3px solid #bfc9ca;}
.socialIcon a:hover{background:none repeat scroll 0 0 #4ec67f;}
.cart-actions button, .cart-actions .wishlist{background:none repeat scroll 0 0 #4ec67f;border:2px solid #27ae60;}
.cart-actions button:hover{background:none repeat scroll 0 0 #fff;border:2px solid #4ec67f;color:#2c3e50;}
.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited{border:2px solid #4ec67f !important;}
.promo-1{background:none repeat scroll 0 0 #27ae60;}
@media (max-width:767px){.miniCartFooter{background:none repeat scroll 0 0 #27ae60 !important;}
}
#pager2 span.cycle-pager-active{}
#pager2 span.cycle-pager-active{background:none repeat scroll 0 0 #4ec67f !important;}
#pager2 span{border:2px solid #4ec67f;}
.orderStep li.active a{background:none repeat scroll 0 0 #1abc9c;}
.orderStep li.active a::after{border-top-color:#1abc9c !important;}
.navbar .navbar-top{font-size:11px;font-weight:bold;height:30px;line-height:11px;text-transform:uppercase;transition:all 0.1s ease-out 0s;}
.navbar.stuck .navbar-top{margin-top:-30px;}
.navbar-toggle{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.2);}
.navbar-tshop{width:100%;}
.menuWrap{border-top:1px solid rgba(0, 0, 0, 0.07);}
.brandWrap{}
.navbar-brand{color:#ffffff;font-size:28px;font-weight:bold;padding:10px;}
.navbar .navbar-top{font-size:11px;font-weight:bold;height:30px;line-height:11px;text-transform:uppercase;transition:all 0.1s ease-out 0s;}
.navbar.stuck .navbar-top{margin-top:-30px;}
.brandWrap{height:auto;transition:all 0.2s ease-out 0s;}
.megamenu .nav, .megamenu .dropup, .megamenu .dropdown, .megamenu .collapse{position:static;}
.megamenu .navbar-inner, .megamenu .container{position:relative;}
.megamenu .dropdown-menu{left:auto;}
.megamenu .dropdown-menu > li{display:block;}
.megamenu .nav.pull-right .dropdown-menu{right:0;}
.megamenu .megamenu-content{padding:0px 30px;}
.megamenu .megamenu-content::before, .megamenu .megamenu-content::after{content:"";display:table;line-height:0;}
.megamenu .megamenu-content::after{clear:both;}
.megamenu.navbar .nav > li > .dropdown-menu::after, .megamenu.navbar .nav > li > .dropdown-menu::before{display:none;}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu{left:0;right:0;width:100%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{left:0;right:0;width:80%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{left:0;right:0;width:80%;}
.megamenu .dropdown.megamenu-50width .dropdown-menu{left:0;right:0;width:50%;}
.megamenu .dropdown.megamenu-40width .dropdown-menu{left:0;right:0;width:40%;}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu{left:0;right:0;width:100%;}
@media (max-width:969px){.megamenu .dropdown.megamenu-fullwidth .dropdown-menu{width:auto;}
.megamenu .megamenu-content{padding-left:0;padding-right:0;}
.megamenu .dropdown-menu > li > ul{display:block;}
}
.megamenu-content img{max-width:100%;}
.megamenu-content ul li{margin-bottom:5px;padding-bottom:5px;}
.megamenu-content ul li a{font-size:12px !important;}
.itemInMenu{margin-bottom:0 !important;}
.itemInMenu .image{max-height:170px !important;}
.margin-top-10{margin-top:10px;}
.social-icon li{display:inline-block;}
.social-icon li a{box-shadow:0 0 0 rgba(0, 0, 0, 0) inset;color:#ffffff;display:inline-block;font-size:18px;height:auto;margin-left:0;padding:6px 9px;position:relative;text-align:center;transition:all 0.2s ease-out 0s;z-index:10;}
.social-icon li a:hover{box-shadow:0 0 5px rgba(0, 0, 0, 0.4) inset;opacity:0.8;}
.navbar-toggle .icon-bar{border:2px solid #fff;}
.userMenu li{display:block;float:left;}
.userMenu li a{color:#ffffff;display:block;float:right;font-size:12px;line-height:30px;padding:0 20px 0 0;text-decoration:none;transition:opacity 0.2s ease-out 0s;}
.userMenu li a:hover{opacity:0.9;}
.phone-number span{float:left;}
@media (min-width:979px){.navbar-tshop ul.nav li.dropdown ul.dropdown-menu{}
.navbar-tshop ul.nav li.dropdown:hover ul.dropdown-menu, div.cartMenu.dropdown:hover div.dropdown-menu{display:block;filter:none;opacity:1;}
.megamenu-content ul li a{display:block;transition:all 0.2s ease 0s;}
.megamenu-content ul li a:hover{padding-left:5px;}
.megamenu-content ul li.productPopItem a:hover, .megamenu-content ul li a.newProductMenuBlock:hover{padding-left:0;}
.navbar.stuck .brandWrap{height:0;overflow:hidden;}
}
.search-box{float:right;height:48px;width:38px;}
.search-box.static-search{width:auto;}
.search-box.static-search #search-form{padding-right:0;}
.navbar-nav.navbar-right:last-child{margin-right:0;}
.search-box .input-group{margin-top:10px;max-width:34px;transition:all 0.3s ease-out 0s;}
.search-box:hover .input-group{max-width:183px;}
.search-box .form-control{border:0 none;height:34px;opacity:0;padding:0;transition:all 0.3s ease-out 0s;width:0;}
.search-box:hover .form-control{border:1px solid #fff;}
.btn-nobg{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);color:#fff;}
.search-box:hover .btn-nobg{background:none repeat scroll 0 0 #fff;}
.search-box.static-search .input-group{margin-top:1px;transition:all 0.3s ease-out 0s;}
.search-box.static-search .form-control{border:1px solid #fff;height:33px;opacity:1;padding:0;transition:all 0.3s ease-out 0s;width:auto;}
.search-box.static-search:hover .form-control{background:none repeat scroll 0 0 #fff;border:1px solid #fff;color:#333;opacity:1;}
.search-box.static-search button{border:0 none !important;margin:0 !important;}
.search-full{bottom:0;display:none;letter-spacing:1px;min-height:50px;position:absolute;right:0;text-align:right;white-space:nowrap;width:100%;z-index:10;}
.searchInputBox{display:block;max-width:90%;text-align:right;width:100%;}
.search-close{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);display:table;float:right;font-size:32px;height:51px;padding:0 15px;}
.search-close i{display:table-cell;transition:all 0.5s ease 0s;vertical-align:middle;}
.search-close:hover i{transform:scale(1.1) rotate(-180deg);}
.search-input{border:0 none;box-sizing:border-box;color:#ffffff;font-family:sans-serif;font-size:20px;line-height:1.2;margin:0;max-width:90%;outline:medium none;padding:13px 0 13px 15px;text-align:right;width:100%;}
.searchInputBox .search-btn{border:medium none;color:rgba(255, 255, 255, 0.8);padding:0 10px 0 0;}
.search-full.active{display:block;}
.colorWhite, .colorWhite i{color:#fff !important;}
.promo-1{color:#ffffff;font-family:Oswald,Helvetica Neue;font-weight:lighter;margin-bottom:15px;padding:5px 0;text-align:center;text-transform:uppercase;}
.promo-1sub{background:none repeat scroll 0 0 #f2f2f2;font-size:14px;letter-spacing:0.5px;margin-bottom:15px;padding:5px 0;text-align:center;text-transform:uppercase;}
.dropdown-left .dropdown-menu{left:0;}
.old-price{color:#666666;font-size:14px;font-weight:normal;text-decoration:line-through;}
@media (min-width:1800px){.banner, .slider-content, .slider, .slider-v2{max-height:700px;}
.sliderImg{width:100%;}
}
@media only screen and (max-width:1224px){input.quanitySniper{width:35px !important;}
}
@media (max-width:1024px){.navbar.stuck .navbar-top{margin-top:0 !important;}
.banner{margin-top:70px !important;}
.header-version-2 .banner{margin-top:130px !important;}
.social li{margin:0 6px 0 0;}
.cartMenu.static-search-box a.dropdown-toggle{padding-left:10px;padding-right:10px;}
.search-box.static-search .form-control{max-width:104px}
}
@media (max-width:979px) and (min-width:768px){.cartMenu a.dropdown-toggle{height:50px;}
.cartRespons{display:none;}
}
@media (max-width:979px){.megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown{color:#000;}
.searchInputBox{max-width:80%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-50width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-40width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu-content ul{margin-bottom:15px;}
.megamenu-content ul li{border-color:rgba(255, 255, 255, 0.2);}
.subCategoryThumb img{height:100% !important;}
}
.category-top{margin-top:30px;}
.cartRespons{font-size:0;}
.hidden-xs .cartMenu .dropdown-toggle{padding-bottom:9px;padding-top:16px;}
.sliderText{margin-top:6%;}
.header-version-2 .sliderText{margin-top:10%;}
.sliderText .inner{padding:15px;}
.sliderTextFull{margin-top:15%;}
.sliderText h1{font-size:30px;}
.sliderText.white h1{padding-bottom:0;}
.sliderText.white h3.price{font-size:18px;padding-bottom:0;}
.sliderText.white .inner{padding:5px 0;}
h1.xlarge{font-size:36px;}
.sliderTextFull h3{font-size:18px;line-height:20px;padding-bottom:5px;}
.sliderInfo .btn-lg, .sliderText.white .btn{font-size:14px;line-height:1.471;padding:5px 15px;}
#pager2{bottom:0;}
#pager2 span{border-width:1px;height:10px;width:10px;}
.sliderControl{border-radius:2px;padding:0 2px;top:45%;}
.sliderControl .fa-3x{font-size:2.5em;}
#pager a{font-size:14px;padding:5px 0;font-weight:normal;}
}
@media (max-width:767px) and (min-width:0){.hidden-xs{display:none !important;visibility:hidden !important;}
.xs3Response{width:100% !important;}
.megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown{color:#000;}
.searchInputBox{max-width:80%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-50width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-40width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu-content ul{margin-bottom:15px;}
.megamenu-content ul li{border-color:rgba(255, 255, 255, 0.2);}
}
@media (max-width:767px){.static-search.navbar-formbox{margin:0;padding:0;max-width:100%;}
.static-search.navbar-formbox{margin:0;max-width:100%;padding:0;width:100%;}
.static-search.navbar-formbox .navbar-form{margin:0;padding:0;border:0;box-shadow:none;}
.search-box.static-search .input-group{max-width:100%;width:100%;}
.search-box.static-search .form-control{max-width:100%;width:100%;}
.search-box.static-search:hover .form-control{max-width:100%;width:100%;}
.userMenu li a{padding-top:3px;line-height:normal;}
.phone-number i.glyphicon-phone-alt{padding-top:2px !important;}
.navbar-brand{padding:15px;}
.navbar-cart{padding-right:0;padding-left:0;}
.navbar-cart.in .mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fff;background:rgba(255, 255, 255, 0.7) !important;}
.miniCartFooter .btn{color:#fff !important;}
.miniCartProduct, .miniCartProduct a, .miniCartProduct p, .miniCartProduct .size, .miniCartProduct .price, .dropdown-header{color:#000;}
.megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown{color:#fff;}
.searchInputBox{max-width:80%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-50width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-40width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu-content ul{margin-bottom:15px;}
.megamenu-content ul li{border-color:rgba(255, 255, 255, 0.2);}
.banner{margin-top:70px !important;}
.sliderTextFull .inner.dark{max-width:100%;padding:5px;}
.parallaximg.ismobile{margin-top:0 !important;}
h1.xlarge{font-size:20px;font-weight:600;line-height:normal;padding-bottom:0;}
.sliderTextFull h3{font-size:16px;line-height:normal;margin-bottom:5px;margin-top:0;padding-bottom:0;}
.sliderText h1{font-size:24px;padding-bottom:0;}
.sliderInfo .btn-lg{font-size:12px;padding:5px 10px;}
.sliderText .inner{padding:5px;}
.sliderText h3.price{font-size:16px;padding-bottom:2px;}
.featureImg a{margin-bottom:20px;}
.navbar-top i{font-size:16px;font-style:normal;font-weight:normal;line-height:1;padding:3px 0 0;}
.text-left-xs{text-align:left !important;}
.ps-nav{top:34%;}
.ps-nav img{width:80px;}
}
@media (max-width:580px){.xs3Response{width:100% !important;}
.sliderTextFull{color:#FFFFFF;margin-top:12%;}
.parallax-content h2{color:#FFFFFF;display:inline-block;font-size:20px;line-height:22px;}
.parallax-content h3{font-size:16px;line-height:normal;}
.style2 .section-title, .section-title.style2{font-size:24px;}
.style2 .section-title:after, .section-title-style2:after, .section-title.style2:after, .section-title-style2:after{margin-left:10%;top:32px;width:80%;}
.orderStep li a span{font-size:11px;}
.categoryFooter .pagination{margin-bottom:10px;}
.sp-thumbs{bottom:0 !important;}
.CartProductThumb a img{margin-right:5px;}
#pager2{bottom:0;}
#pager2 span{border-width:1px;height:10px;width:10px;}
.sliderControl{border-radius:2px;padding:0 2px;top:45%;}
.sliderControl .fa-3x{font-size:2em;}
#pager a{font-size:14px;padding:5px 0;font-weight:normal;}
.ps-nav{top:28%;}
.ps-nav img{width:80px;}
#imageShowCase .product-slide h1{font-size:18px;letter-spacing:1px;line-height:22px;}
}
@media (max-width:480px){#pager a{font-size:12px;}
.navbar-toggle{}
h1.xlarge{font-size:24px;font-weight:800;line-height:normal;padding-bottom:0;}
h1.x2large{font-size:38px;}
.title-big{font-size:38px;}
.sliderTextFull h3{font-size:16px;line-height:normal;margin-bottom:2px;margin-top:0;padding-bottom:0;}
.sliderText h1{font-size:24px;line-height:26px;padding-bottom:0;}
.sliderInfo .btn-lg{font-size:12px;padding:4px 8px;}
.sliderText .inner{padding:2px;}
.sliderText h3.price{font-size:16px;padding-bottom:2px;}
.supportLi h4{font-size:14px;}
.cartTableHeader{font-size:12px;font-weight:bold;text-transform:uppercase;}
.CartProduct .delete i{font-size:16px !important;}
.CartProductThumb a img{max-width:60px !important;}
.CartDescription h4 a{font-size:14px !important;line-height:normal;}
.cart-actions button, .cart-actions .wishlist{font-size:14px !important;padding:10px!important;}
.search-box .input-group{margin-top:13px;}
.navbar-brand.windowsphone{display:block;float:left;}
.navbar-brand.windowsphone img{max-width:65px;}
.featuredPostContainer.globalPadding{padding:10px 0 !important;}
.breadcrumb > li{font-size:12px;}
.item.list-view h4{font-size:20px;line-height:18px;}
.item.list-view .description{clear:both;display:block;float:none;padding-top:5px;}
.item.list-view .image{display:block;float:none;max-height:500px;max-width:100%;overflow:hidden;padding-right:0;text-align:center;}
.item.list-view h4, .item.list-view .description, .item.list-view h4, .list-description, .item.list-view .price, .item.list-view .action-control, .item.list-view .description p{text-align:center;}
.item.list-view h4{min-height:24px;}
.col-xs-mini-6{width:50%;}
.col-xs-min-12{width:100%;}
.home-intro h2{font-size:18px;font-weight:200;letter-spacing:1px;}
}
@media (max-width:400px){#pager a{font-size:10px;}
.cartFooter .box-footer div{width:100%;text-align:center;padding-bottom:5px;}
.navbar-header img{width:164px;height:63px;}
.navbar-brand{padding:17px 0 0 10px;}
.navbar-header.isios .navbar-brand img{max-width:60px!important;}
.navbar-header .navbar-toggle{margin-right:10px;padding:9px 2px;}
.xsResponse .item, .xs3Response .item{width:100% !important;}
.cartFooter{padding:5px 0;background-color:#03C;}
.checkoutReview th{font-size:13px;}
.col-xs-mini-6{width:100%;}
}
@media (max-width:320px){.banner{width:100% !important;max-width:320px !important;overflow:hidden !important;}
}
@media (min-width:1800px){.banner, .slider-content, .slider, .slider-v2{max-height:700px;}
.sliderImg{width:100%;}
}
@media only screen and (max-width:1224px){input.quanitySniper{width:35px !important;}
}
@media (max-width:1024px){.navbar.stuck .navbar-top{margin-top:0 !important;}
.banner{margin-top:70px !important;}
.header-version-2 .banner{margin-top:130px !important;}
.social li{margin:0 6px 0 0;}
.cartMenu.static-search-box a.dropdown-toggle{padding-left:10px;padding-right:10px;}
.search-box.static-search .form-control{max-width:104px}
}
@media (max-width:979px) and (min-width:768px){.cartMenu a.dropdown-toggle{height:50px;}
.cartRespons{display:none;}
}
@media (max-width:979px){.subCategoryThumb img{height:100% !important;}
.category-top{margin-top:30px;}
.cartRespons{font-size:0;}
.hidden-xs .cartMenu .dropdown-toggle{padding-bottom:9px;padding-top:16px;}
.sliderText{margin-top:6%;}
.header-version-2 .sliderText{margin-top:10%;}
.sliderText .inner{padding:15px;}
.sliderTextFull{margin-top:15%;}
.sliderText h1{font-size:30px;}
.sliderText.white h1{padding-bottom:0;}
.sliderText.white h3.price{font-size:18px;padding-bottom:0;}
.sliderText.white .inner{padding:5px 0;}
h1.xlarge{font-size:36px;}
.sliderTextFull h3{font-size:18px;line-height:20px;padding-bottom:5px;}
.sliderInfo .btn-lg, .sliderText.white .btn{font-size:14px;line-height:1.471;padding:5px 15px;}
#pager2{bottom:0;}
#pager2 span{border-width:1px;height:10px;width:10px;}
.sliderControl{border-radius:2px;padding:0 2px;top:45%;}
.sliderControl .fa-3x{font-size:2.5em;}
#pager a{font-size:14px;padding:5px 0;font-weight:normal;}
}
@media (max-width:767px){.static-search.navbar-formbox{margin:0;padding:0;max-width:100%;}
.static-search.navbar-formbox{margin:0;max-width:100%;padding:0;width:100%;}
.static-search.navbar-formbox .navbar-form{margin:0;padding:0;border:0;box-shadow:none;}
.userMenu li a{padding-top:3px;line-height:normal;}
.phone-number i.glyphicon-phone-alt{padding-top:2px !important;}
.navbar-brand{padding:15px;}
.megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown{color:#000;}
.searchInputBox{max-width:80%;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-80width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-50width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu .dropdown.megamenu-40width .dropdown-menu{width:100%;left:0;right:0;}
.megamenu-content ul{margin-bottom:15px;}
.megamenu-content ul li{border-color:rgba(255, 255, 255, 0.2);}
h1.xlarge{font-size:20px;font-weight:600;line-height:normal;padding-bottom:0;}
.sliderTextFull h3{font-size:16px;line-height:normal;margin-bottom:5px;margin-top:0;padding-bottom:0;}
.sliderText h1{font-size:24px;padding-bottom:0;}
.sliderInfo .btn-lg{font-size:12px;padding:5px 10px;}
.sliderText .inner{padding:5px;}
.sliderText h3.price{font-size:16px;padding-bottom:2px;}
.featureImg a{margin-bottom:20px;}
.navbar-top i{font-size:16px;font-style:normal;font-weight:normal;line-height:1;padding:3px 0 0;}
.text-left-xs{text-align:left !important;}
.ps-nav{top:34%;}
.ps-nav img{width:80px;}
}
@media (max-width:580px){.sliderTextFull{color:#FFFFFF;margin-top:12%;}
.parallax-content h2{color:#FFFFFF;display:inline-block;font-size:20px;line-height:22px;}
.parallax-content h3{font-size:16px;line-height:normal;}
.style2 .section-title, .section-title.style2{font-size:24px;}
.style2 .section-title:after, .section-title-style2:after, .section-title.style2:after, .section-title-style2:after{margin-left:10%;top:32px;width:80%;}
.orderStep li a span{font-size:11px;}
.categoryFooter .pagination{margin-bottom:10px;}
.sp-thumbs{bottom:0 !important;}
.CartProductThumb a img{margin-right:5px;}
#pager2{bottom:0;}
#pager2 span{border-width:1px;height:10px;width:10px;}
.sliderControl{border-radius:2px;padding:0 2px;top:45%;}
.sliderControl .fa-3x{font-size:2em;}
#pager a{font-size:14px;padding:5px 0;font-weight:normal;}
.ps-nav{top:28%;}
.ps-nav img{width:80px;}
#imageShowCase .product-slide h1{font-size:18px;letter-spacing:1px;line-height:22px;}
}
@media (max-width:480px){#pager a{font-size:12px;}
.navbar-toggle{}
h1.xlarge{font-size:24px;font-weight:800;line-height:normal;padding-bottom:0;}
h1.x2large{font-size:38px;}
.title-big{font-size:38px;}
.sliderTextFull h3{font-size:16px;line-height:normal;margin-bottom:2px;margin-top:0;padding-bottom:0;}
.sliderText h1{font-size:24px;line-height:26px;padding-bottom:0;}
.sliderInfo .btn-lg{font-size:12px;padding:4px 8px;}
.sliderText .inner{padding:2px;}
.sliderText h3.price{font-size:16px;padding-bottom:2px;}
.supportLi h4{font-size:14px;}
.cartTableHeader{font-size:12px;font-weight:bold;text-transform:uppercase;}
.CartProduct .delete i{font-size:16px !important;}
.CartProductThumb a img{max-width:60px !important;}
.CartDescription h4 a{font-size:14px !important;line-height:normal;}
.cart-actions button, .cart-actions .wishlist{font-size:14px !important;padding:10px!important;}
.search-box .input-group{margin-top:13px;}
.navbar-brand.windowsphone{display:block;float:left;}
.navbar-brand.windowsphone img{max-width:65px;}
.featuredPostContainer.globalPadding{padding:10px 0 !important;}
.breadcrumb > li{font-size:12px;}
.item.list-view h4{font-size:20px;line-height:18px;}
.item.list-view .description{clear:both;display:block;float:none;padding-top:5px;}
.item.list-view .image{display:block;float:none;max-height:500px;max-width:100%;overflow:hidden;padding-right:0;text-align:center;}
.item.list-view h4, .item.list-view .description, .item.list-view h4, .list-description, .item.list-view .price, .item.list-view .action-control, .item.list-view .description p{text-align:center;}
.item.list-view h4{min-height:24px;}
.col-xs-mini-6{width:50%;}
.col-xs-min-12{width:100%;}
.home-intro h2{font-size:18px;font-weight:200;letter-spacing:1px;}
}
@media (max-width:400px){#pager a{font-size:10px;}
.cartFooter .box-footer div{width:100%;text-align:center;padding-bottom:5px;}
.navbar-brand{padding:17px 0 0 10px;}
.navbar-header.isios .navbar-brand img{max-width:60px!important;}
.navbar-header .navbar-toggle{margin-right:10px;padding:9px 2px;}
.xsResponse .item, .xs3Response .item{width:100% !important;}
.cartFooter{padding:5px 0;}
.checkoutReview th{font-size:13px;}
.col-xs-mini-6{width:100%;}
}